p.one{
  font-style: italic;
  font-family: serif;
}
  p.three{
    font-family: fantasy;
    font-weight: lighter;
       }
body{
  background: #CBBB9B;
  font-family: fantasy;

  }
  #info  {
  	color: red;
    background-color: ;
    font-family: cursive;
}
#inspire{
  font-family: monospace;
  border-left: 3px solid #A09885;
  width: 960px;
  height:auto;
  border-right: 5px solid #A09885;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;

}
h3{
  border-left: 3px solid #7c7630;
}
#social{
  float: right;
  margin: 20px 30px 0px 0px;
  border-bottom: 3px solid #7C7063;
}
